TODO:
  Features:
  - Need to put into keyword icon support (large and small)
  - Need to add guassianblur to sides and bottoms of card images
  - Have not yet done formatting for tribes or champion levelup bars
  - base text size for names is still unknown
  - Support for spells and their positional constants has not even been
    attempted yet

  Other:
  - The naive PIL draw is bad, look into aggdraw to get proper anti-aliasing
  - Code is VERY messy needs a reorganization, especially the definitions.py
  - much of the lor-template-pack is bloated and with bad file paths,
    should slim it and reorganize
  - no real documentation lmaooo

Update 11/30:
  Redid all the rendering in Wand, looks much better
  Reorganized the file structure
  Reorganized lor-template packs

  TODO:
    Need to add gaussianblur based off of body height for untis
    Need to add tribes
    Need to add champion level ups
    Need to add regions icons

    Next: Spells 
