Decksofrunterra:
  Image sizes
Card types to handle:
  3 types of spells (burst, slow, fast)
  4 types of rarity
  6 region types
    - spell and champion cards

Champion Cards:
  Art:
    x,y: 28,57
    w,h: 623, 906
    L border: 30px
    R border : 27ppx
    Borders have a gradient from opaque to more transparent from bottom to top
    L border has some sort of blueish tint to it
